@import './typography.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400;1,700&display=swap');
:root {
  font-family: 'Space Mono', monospace;
  
}
body {
  margin: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.v-btn--size-default{
  padding: 0 !important; 
}

#checkout-btn {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #eeeeee;
  color: hwb(0 15% 6%) !important; 
  margin-right: 1.5rem;
}

.items-count {
  color: hwb(179 0% 42%);
}

.v-btn {
  color:hwb(179 0% 41%) !important;
}

.place-order{
  color:hwb(0 99% 1%) !important;
  background-color: hwb(179 0% 41%) !important;
  border-radius: 0.2rem;
  margin-bottom: 1em;
  margin-left: 1.2em;
  padding: 0 1em 0 1em !important;
}
.title{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.checkout-card-title{
  font-size: 1.5rem;
  margin-top: 1rem;
}
input-field {
  color:hwb(179 0% 41%) !important;
}

.close-btn {
  color: #eeeeee !important;
  margin-left: 1rem;
}
#tool-bar {
  z-index: 999999;
  position: fixed;
  width: -webkit-fill-available;
  background-color: hwb(179 0% 41%);
}

.count {
  color: hwb(179 0% 41%);
}

.total-wrapper{
  margin-top: 5rem; 
  margin-left: 4.5rem;
  font-size: 1.3rem;
}

hr{
  width: 400px;
}

a {
  text-decoration: none;
  color: hwb(179 0% 41%);
}



#grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
  padding: 20px;
  gap: 10px;
}

#child-1 {
  padding-top: 2rem;
}
#child-2 {
  padding-top: 2rem;
}

#child-2 > h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#child-2 ul {
  list-style-type: none;
}

#child-2 li {
    padding: 0.8rem;
    margin-bottom: .5rem auto;
    font-size: 1.2rem;
    

  }  

#child-3 {
  width: 90vw;
margin: 2rem auto ;
 font-size: 1.2rem;
;
}

.devider-long {
  width: 90vw;
  margin: 1rem auto;
}

.devider-short {
  width: 50vw;
  margin: .5rem;
  border-top: 1px solid #000;
}

.thick{
  border-top: 3px solid hwb(179 0% 41%);
}

.total-li-item{
  /* align right side of devider */
  position: relative;
  left: 50%;
}

#password-visibility {
position: relative;
margin-left: 0.4em;
font-size: 0.8rem;
}

