@import './typography.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400;1,700&display=swap');
:root {
  font-family: 'Space Mono', monospace;
}
body {
  margin: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



